workflows/pr_review.json
{
  "id": "ShivaPrReview001",
  "name": "Shiva PR Review Agent",
  "nodes": [
    {
      "id": "webhook",
      "name": "GitHub PR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "pr-review",
        "options": {}
      }
    },
    {
      "id": "fetch_files",
      "name": "Fetch PR Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repository.full_name }}/pulls/{{ $json.body.pull_request.number }}/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "shiva-pr-review-agent"
            }
          ]
        },
        "options": {}
      },
      "notes": "Credential: HTTP Header Auth with name 'Authorization', value 'Bearer <GitHub PAT>' (task 00002)."
    },
    {
      "id": "build_prompt",
      "name": "Filter Diff & Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "# Generated by scripts/build_workflow.py \u2014 do not edit here.\n# Edit src/shiva_agent/review.py and shiva.config.yml, then regenerate.\nCATEGORIES = [\n  {\n    \"name\": \"Structural Review\",\n    \"prompt\": \"Focus on the architecture and design of the code. Ensure that the code is organized logically and follows best practices for structure.\"\n  },\n  {\n    \"name\": \"Logical Review\",\n    \"prompt\": \"Examine the logic and algorithms used in the code. Check for correctness and efficiency of the implemented logic.\"\n  },\n  {\n    \"name\": \"Behavioral Review\",\n    \"prompt\": \"Look at how the code behaves in different scenarios. Ensure that the code meets the functional requirements and handles edge cases properly.\"\n  },\n  {\n    \"name\": \"Security Review\",\n    \"prompt\": \"Examine the code for potential security vulnerabilities. Ensure that the code follows best practices for security and data protection.\"\n  },\n  {\n    \"name\": \"Performance Review\",\n    \"prompt\": \"Analyze the code for performance issues. Ensure that the code is optimized for speed and resource usage.\"\n  }\n]\n\nALLOWED_EXTENSIONS = None  # e.g. [\".py\"] to review Python files only\nDEFAULT_MAX_PATCH_CHARS = 15_000\n\ndef filter_files(files, allowed_extensions=None, max_patch_chars=DEFAULT_MAX_PATCH_CHARS):\n    \"\"\"Filter GitHub /pulls/{n}/files items down to reviewable ones.\n\n    Drops files without a patch (binary), removed files, oversized patches,\n    and \u2014 when allowed_extensions is given \u2014 files with other extensions.\n    \"\"\"\n    kept = []\n    for f in files:\n        patch = f.get(\"patch\")\n        if not patch:\n            continue\n        if f.get(\"status\") == \"removed\":\n            continue\n        if len(patch) > max_patch_chars:\n            continue\n        if allowed_extensions is not None:\n            name = f.get(\"filename\", \"\")\n            if not any(name.endswith(ext) for ext in allowed_extensions):\n                continue\n        kept.append(f)\n    return kept\n\ndef build_review_prompt(categories, files):\n    \"\"\"Assemble the LLM review prompt from enabled categories and file diffs.\"\"\"\n    lines = [\n        \"You are a code review agent. Review the pull request diff below.\",\n        \"Evaluate the changes ONLY against the following review categories:\",\n        \"\",\n    ]\n    for c in categories:\n        lines.append(\"## \" + c[\"name\"])\n        lines.append(c[\"prompt\"])\n        lines.append(\"\")\n    lines.append(\n        \"For each finding, state the category, the file, the relevant lines, \"\n        \"a severity (high/medium/low), and a short actionable explanation. \"\n        \"If a category has no findings, say so in one line. \"\n        \"Format the whole answer as GitHub-flavored markdown.\"\n    )\n    lines.append(\"\")\n    lines.append(\"# Diff\")\n    if not files:\n        lines.append(\"No reviewable files in this pull request.\")\n    for f in files:\n        lines.append(\"## \" + f.get(\"filename\", \"<unknown>\") + \" (\" + f.get(\"status\", \"modified\") + \")\")\n        lines.append(\"```diff\")\n        lines.append(f.get(\"patch\", \"\"))\n        lines.append(\"```\")\n    return \"\\n\".join(lines)\n\n\nfiles = [dict(item.json) for item in _input.all()]\nkept = filter_files(files, allowed_extensions=ALLOWED_EXTENSIONS)\nprompt = build_review_prompt(CATEGORIES, kept)\nreturn [{\"json\": {\"prompt\": prompt, \"reviewed_files\": len(kept), \"total_files\": len(files)}}]\n"
      }
    },
    {
      "id": "llm_review",
      "name": "Claude Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-8\",\n  \"max_tokens\": 16000,\n  \"thinking\": {\n    \"type\": \"adaptive\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}"
      },
      "notes": "Credential: HTTP Header Auth with name 'x-api-key', value '<Anthropic API key>'."
    },
    {
      "id": "post_comment",
      "name": "Post PR Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('GitHub PR Webhook').item.json.body.repository.full_name }}/issues/{{ $('GitHub PR Webhook').item.json.body.pull_request.number }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "shiva-pr-review-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $json.content.filter(b => b.type === 'text').map(b => b.text).join('\\n') }) }}",
        "options": {}
      },
      "notes": "Same GitHub PAT credential as 'Fetch PR Files'."
    }
  ],
  "connections": {
    "GitHub PR Webhook": {
      "main": [
        [
          {
            "node": "Fetch PR Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PR Files": {
      "main": [
        [
          {
            "node": "Filter Diff & Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Diff & Build Prompt": {
      "main": [
        [
          {
            "node": "Claude Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Review": {
      "main": [
        [
          {
            "node": "Post PR Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
