workflows/pr_review.agent.json
{
  "id": "ShivaPrReviewAgent001",
  "name": "Shiva PR Review Agent (agentic)",
  "nodes": [
    {
      "id": "webhook",
      "name": "GitHub PR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "c0ffee00-5417-4a11-9e57-5b1de0a5c0de",
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "pr-review",
        "options": {}
      }
    },
    {
      "id": "check_skip",
      "name": "Check Skip Conditions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "# Generated by scripts/build_workflow.py \u2014 do not edit here.\n# Edit src/shiva_agent/review.py, then regenerate.\nSKIP_REVIEW_LABEL = \"skip-review\"\nREVIEWABLE_ACTIONS = frozenset([\"opened\", \"ready_for_review\", \"reopened\", \"synchronize\"])\n\ndef should_skip_pr(payload, skip_label=SKIP_REVIEW_LABEL):\n    \"\"\"Return True when the webhook event must not be reviewed.\n\n    Skips non-reviewable actions and non-PR events (the `action` is absent or\n    not in REVIEWABLE_ACTIONS), draft PRs, and PRs carrying the opt-out label.\n    `payload` is the GitHub webhook event body.\n    \"\"\"\n    if payload.get(\"action\") not in REVIEWABLE_ACTIONS:\n        return True\n    pr = payload.get(\"pull_request\") or {}\n    if pr.get(\"draft\"):\n        return True\n    labels = pr.get(\"labels\") or []\n    return any(label.get(\"name\") == skip_label for label in labels)\n\n\n# n8n native Python runner exposes input as `_items` (plain dicts).\nbody = (_items[0].get(\"json\") or {}).get(\"body\") or {}\nreturn [{\"json\": {\"skip\": should_skip_pr(body), \"body\": body}}]\n"
      },
      "notes": "Task 00010: computes skip=true for draft PRs and PRs labeled 'skip-review'."
    },
    {
      "id": "skip_gate",
      "name": "Skip Draft & Labeled PRs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "notes": "True branch continues to review; false branch ends the run without comments."
    },
    {
      "id": "fetch_files",
      "name": "Fetch PR Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repository.full_name }}/pulls/{{ $json.body.pull_request.number }}/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "shiva-pr-review-agent"
            }
          ]
        },
        "options": {}
      },
      "notes": "Credential: HTTP Header Auth with name 'Authorization', value 'Bearer <GitHub PAT>' (task 00002)."
    },
    {
      "id": "build_prompt",
      "name": "Filter Diff & Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "# Generated by scripts/build_workflow.py \u2014 do not edit here.\n# Edit src/shiva_agent/review.py and shiva.config.yml, then regenerate.\nCATEGORIES = [\n  {\n    \"name\": \"Structural Review\",\n    \"prompt\": \"Focus on the architecture and design of the code. Ensure that the code is organized logically and follows best practices for structure.\"\n  },\n  {\n    \"name\": \"Logical Review\",\n    \"prompt\": \"Examine the logic and algorithms used in the code. Check for correctness and efficiency of the implemented logic.\"\n  },\n  {\n    \"name\": \"Behavioral Review\",\n    \"prompt\": \"Look at how the code behaves in different scenarios. Ensure that the code meets the functional requirements and handles edge cases properly.\"\n  },\n  {\n    \"name\": \"Security Review\",\n    \"prompt\": \"Examine the code for potential security vulnerabilities. Ensure that the code follows best practices for security and data protection.\"\n  },\n  {\n    \"name\": \"Performance Review\",\n    \"prompt\": \"Analyze the code for performance issues. Ensure that the code is optimized for speed and resource usage.\"\n  }\n]\n\n# Severity scale + per-repo conventions baked into the prompt (task 00012).\nSEVERITY_LEVELS = [\n  [\n    \"blocker\",\n    \"must fix before merge \\u2014 breaks correctness, security, or data integrity\"\n  ],\n  [\n    \"high\",\n    \"should fix before merge \\u2014 a likely bug or a significant risk\"\n  ],\n  [\n    \"medium\",\n    \"worth fixing \\u2014 maintainability, a missed edge case, or a minor correctness concern\"\n  ],\n  [\n    \"low\",\n    \"optional polish \\u2014 style, naming, or clarity\"\n  ]\n]\nCONVENTIONS = \"\"\n\nALLOWED_EXTENSIONS = None  # e.g. [\".py\"] to review Python files only\n# Skip generated / vendored / lock files before review (task 00017); globs are\n# matched against the full path and the basename. From shiva.config.yml.\nEXCLUDE_GLOBS = [\n  \"*.lock\",\n  \"package-lock.json\",\n  \"pnpm-lock.yaml\",\n  \"go.sum\",\n  \"*.min.js\",\n  \"*.min.css\",\n  \"*.map\",\n  \"*.pb.go\",\n  \"*_pb2.py\",\n  \"*.generated.*\",\n  \"*/node_modules/*\",\n  \"*/vendor/*\",\n  \"*/dist/*\",\n  \"*/build/*\"\n]\nDEFAULT_MAX_PATCH_CHARS = 15_000\n# Total patch budget per review pass; a large PR is split across passes (00011).\nDEFAULT_MAX_BATCH_CHARS = 45000\n\ndef match_glob(name, pattern):\n    \"\"\"fnmatch-style wildcard match implemented without any stdlib import.\n\n    Supports the glob syntax the exclude patterns use: ``*`` (any run, including\n    ``/``), ``?`` (one char), and ``[seq]`` / ``[!seq]`` character classes.\n    Case-sensitive and anchored to the whole string, matching ``fnmatch``\n    semantics on POSIX \u2014 which is what the n8n Linux Python runner uses.\n\n    Hand-rolled because that runner's sandbox disallows *every* stdlib import\n    (\"Allowed stdlib modules: none\"), so neither ``fnmatch`` nor ``re`` can be\n    imported inside the generated Code node (task 00017). This function's source\n    is embedded verbatim into the node by scripts/build_workflow.py.\n    \"\"\"\n    # Tokenize the pattern once: (\"star\",) | (\"any\",) | (\"lit\", ch)\n    # | (\"set\", negate, items) where items are chars or (lo, hi) ranges.\n    tokens = []\n    i, n = 0, len(pattern)\n    while i < n:\n        c = pattern[i]\n        if c == \"*\":\n            tokens.append((\"star\",))\n            i += 1\n        elif c == \"?\":\n            tokens.append((\"any\",))\n            i += 1\n        elif c == \"[\":\n            j = i + 1\n            negate = False\n            if j < n and pattern[j] in \"!^\":\n                negate = True\n                j += 1\n            items, first = [], True\n            while j < n and (pattern[j] != \"]\" or first):\n                first = False\n                if j + 2 < n and pattern[j + 1] == \"-\" and pattern[j + 2] != \"]\":\n                    items.append((pattern[j], pattern[j + 2]))\n                    j += 3\n                else:\n                    items.append(pattern[j])\n                    j += 1\n            if j >= n:  # unterminated \"[\" \u2014 treat it as a literal\n                tokens.append((\"lit\", \"[\"))\n                i += 1\n                continue\n            tokens.append((\"set\", negate, items))\n            i = j + 1\n        else:\n            tokens.append((\"lit\", c))\n            i += 1\n\n    def _matches(ch, token):\n        kind = token[0]\n        if kind == \"any\":\n            return True\n        if kind == \"lit\":\n            return ch == token[1]\n        _, negate, items = token  # (\"set\", negate, items)\n        hit = False\n        for it in items:\n            if isinstance(it, tuple):\n                if it[0] <= ch <= it[1]:\n                    hit = True\n                    break\n            elif ch == it:\n                hit = True\n                break\n        return hit != negate\n\n    # Greedy wildcard match with backtracking on the last \"*\".\n    ti = ni = 0\n    star_ti, star_ni = -1, 0\n    nt, nn = len(tokens), len(name)\n    while ni < nn:\n        if ti < nt and tokens[ti][0] == \"star\":\n            star_ti, star_ni = ti, ni\n            ti += 1\n        elif ti < nt and tokens[ti][0] != \"star\" and _matches(name[ni], tokens[ti]):\n            ti += 1\n            ni += 1\n        elif star_ti != -1:\n            ti = star_ti + 1\n            star_ni += 1\n            ni = star_ni\n        else:\n            return False\n    while ti < nt and tokens[ti][0] == \"star\":\n        ti += 1\n    return ti == nt\n\ndef filter_files(\n    files, allowed_extensions=None, max_patch_chars=DEFAULT_MAX_PATCH_CHARS, exclude_globs=None\n):\n    \"\"\"Filter GitHub /pulls/{n}/files items down to reviewable ones.\n\n    Drops files without a patch (binary), removed files, files whose path\n    matches an `exclude_globs` pattern (generated/vendored/lock files, task\n    00017), oversized patches, and \u2014 when allowed_extensions is given \u2014 files\n    with other extensions. Each glob is matched against both the full\n    repository-relative path and the bare basename (fnmatch semantics), so\n    `package-lock.json` excludes the file at any depth while `*/dist/*` targets\n    a directory.\n    \"\"\"\n    kept = []\n    for f in files:\n        patch = f.get(\"patch\")\n        if not patch:\n            continue\n        if f.get(\"status\") == \"removed\":\n            continue\n        name = f.get(\"filename\", \"\")\n        if exclude_globs:\n            base = name.rsplit(\"/\", 1)[-1]\n            if any(match_glob(name, g) or match_glob(base, g) for g in exclude_globs):\n                continue\n        if len(patch) > max_patch_chars:\n            continue\n        if allowed_extensions is not None:\n            if not any(name.endswith(ext) for ext in allowed_extensions):\n                continue\n        kept.append(f)\n    return kept\n\ndef split_files_into_batches(files, max_batch_chars=DEFAULT_MAX_BATCH_CHARS):\n    \"\"\"Group filtered files into review batches bounded by total patch size.\n\n    Large PRs are reviewed in several passes rather than one giant prompt\n    (task 00011): files are packed greedily, in their given order, into batches\n    whose combined patch length stays within `max_batch_chars`. A file whose\n    own patch already exceeds the budget still gets its own (over-budget) batch\n    instead of being dropped \u2014 filter_files has already capped any single patch\n    at DEFAULT_MAX_PATCH_CHARS, so each pass stays bounded.\n\n    Returns a list of file-lists. An empty input yields a single empty batch;\n    the generated Code node filters out the no-reviewable-files case before it\n    batches (task 00018), so in practice this is only reached with \u22651 file.\n    \"\"\"\n    batches = []\n    current = []\n    current_chars = 0\n    for f in files:\n        size = len(f.get(\"patch\") or \"\")\n        if current and current_chars + size > max_batch_chars:\n            batches.append(current)\n            current = []\n            current_chars = 0\n        current.append(f)\n        current_chars += size\n    batches.append(current)  # always emit the last (possibly empty) batch\n    return batches\n\ndef build_review_prompt(categories, files, conventions=\"\", part=None):\n    \"\"\"Assemble the LLM review prompt from enabled categories and file diffs.\n\n    The prompt is fully specified (task 00012): it lists the review\n    categories, optional per-repo `conventions`, a defined severity scale, and\n    a fixed output format, so reviews are consistent and machine-skimmable.\n\n    `part` is an optional ``(index, count)`` for large PRs reviewed in several\n    passes (task 00011); when ``count > 1`` the prompt states which part this\n    is so the model scopes its review to the files shown instead of flagging\n    the split-off files as missing.\n    \"\"\"\n    lines = [\n        \"You are a senior code reviewer. Review the pull request diff below.\",\n        'Evaluate the changes ONLY against the categories under \"Review categories\".',\n        \"Be terse and specific: every finding one line, concrete, no preamble, no \"\n        \"restating the diff, no filler. Say only what matters.\",\n        \"\",\n    ]\n    # Review discipline: accuracy + no-nitpick rules to curb the failure modes\n    # seen on real reviews (hallucinated line numbers, misread code, style/rename\n    # nitpicks, suggestions that fight intentional design). See data/README.md.\n    lines.append(\"# Review discipline\")\n    lines.append(\n        \"- Flag ONLY what you can tie to specific code shown in the diff; quote or \"\n        \"name the exact symbol. Never infer or assume code you cannot see.\"\n    )\n    lines.append(\n        \"- Cite exact line numbers from the diff. If you are not certain of the line, \"\n        \"omit the number rather than guess. A finding anchored to line 0 or 1 of a \"\n        \"file means you did not locate the real code \u2014 re-check or drop it.\"\n    )\n    lines.append(\n        \"- Do NOT report a check, field, validation, or handler as missing or absent \"\n        \"unless its absence is visible in the shown diff; quote the line whose absence \"\n        \"you assert. If it may exist in code not shown, do not claim it is missing.\"\n    )\n    lines.append(\n        \"- Do NOT raise renames, file/module splits, micro-optimizations, or swapping \"\n        \"a library / test framework / sync-for-async unless it fixes a concrete \"\n        \"correctness or clarity bug. Style nits are out of scope unless a Code Style \"\n        \"category is enabled above.\"\n    )\n    lines.append(\n        \"- A wrong or speculative finding is worse than a missed nit: prefer fewer, \"\n        \"verifiable findings, and treat the repository conventions below as intentional.\"\n    )\n    lines.append(\"\")\n    if part is not None:\n        index, count = part\n        if count > 1:\n            lines.append(\n                f\"This is review part {index} of {count} for a large pull request; \"\n                \"review only the diff below and scope every finding to these files.\"\n            )\n            lines.append(\"\")\n    lines.append(\"# Review categories\")\n    for c in categories:\n        lines.append(\"## \" + c[\"name\"])\n        lines.append(c[\"prompt\"])\n        lines.append(\"\")\n\n    if conventions and conventions.strip():\n        lines.append(\"# Repository conventions\")\n        lines.append(\"Honour the target repository's house rules while reviewing:\")\n        lines.append(\"\")\n        lines.append(conventions.strip())\n        lines.append(\"\")\n\n    lines.append(\"# Severity levels\")\n    lines.append(\"Rate every finding with exactly one severity:\")\n    for level, definition in SEVERITY_LEVELS:\n        lines.append(\"- **\" + level + \"** \u2014 \" + definition + \".\")\n    lines.append(\"\")\n\n    lines.append(\"# Output format\")\n    lines.append(\"Respond in GitHub-flavored markdown with this exact structure:\")\n    lines.append(\"1. **Summary** \u2014 one sentence describing what the PR changes.\")\n    lines.append(\n        \"2. **Verdict** \u2014 exactly one of `approve`, `comment`, or `request changes`.\"\n    )\n    lines.append(\n        \"3. **Findings** \u2014 a bullet per issue, ordered by severity (blocker first), \"\n        \"each in the shape: `[severity] category \u2014 path:lines \u2014 issue, then the concrete fix`.\"\n    )\n    lines.append(\n        \"Report only issues that fall under the categories above. \"\n        \"If there are no findings, write `No issues found.` under Findings.\"\n    )\n    lines.append(\"\")\n\n    lines.append(\"# Diff\")\n    if not files:\n        lines.append(\"No reviewable files in this pull request.\")\n    for f in files:\n        lines.append(\"## \" + f.get(\"filename\", \"<unknown>\") + \" (\" + f.get(\"status\", \"modified\") + \")\")\n        lines.append(\"```diff\")\n        lines.append(f.get(\"patch\", \"\"))\n        lines.append(\"```\")\n    return \"\\n\".join(lines)\n\n\n# n8n native Python runner exposes input as `_items` (plain dicts).\nfiles = [item.get(\"json\") or {} for item in _items]\nkept = filter_files(files, allowed_extensions=ALLOWED_EXTENSIONS, exclude_globs=EXCLUDE_GLOBS)\nif not kept:\n    # Every changed file was filtered out \u2014 binary, removed, oversized, or an\n    # excluded generated/vendored/lock file (task 00017). Emit no items so n8n\n    # skips the Claude call and Post PR Comment entirely (task 00018): no paid\n    # review and no noise comment on a PR with nothing to review, mirroring the\n    # empty false-branch of the skip gate (task 00010).\n    return []\nbatches = split_files_into_batches(kept, max_batch_chars=DEFAULT_MAX_BATCH_CHARS)\nout = []\nfor i, batch in enumerate(batches):\n    prompt = build_review_prompt(\n        CATEGORIES, batch, conventions=CONVENTIONS, part=(i + 1, len(batches))\n    )\n    out.append({\n        \"json\": {\n            \"prompt\": prompt,\n            \"batch_index\": i + 1,\n            \"batch_count\": len(batches),\n            \"reviewed_files\": len(batch),\n            \"total_files\": len(files),\n        },\n        \"pairedItem\": {\"item\": 0},\n    })\nreturn out\n"
      }
    },
    {
      "id": "review_agent",
      "name": "AI Review Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a senior code reviewer. You are reviewing a pull request and have a tool for extra context.\nWhen the diff alone is not enough to judge a change, call the `fetch_repo_file` tool to fetch the full current contents of a file from the pull request's repository (pass a repository-relative path). Use it to read the rest of a file when only a hunk is shown, or to inspect a caller, a callee, a base class, or a referenced module.\nFetch only files that materially help the review, and do not fetch more than a handful. Base every finding on evidence you have actually read \u2014 the diff or a file you fetched \u2014 never on a guess about code you have not seen.\nThen produce the review exactly as instructed in the user message: the same categories, severity scale, and output format."
        }
      },
      "notes": "Task 00013: agentic review \u2014 the model can call the file-fetch tool for extra context."
    },
    {
      "id": "post_comment",
      "name": "Post PR Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('GitHub PR Webhook').item.json.body.repository.full_name }}/issues/{{ $('GitHub PR Webhook').item.json.body.pull_request.number }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "shiva-pr-review-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $json.output }) }}",
        "options": {}
      },
      "notes": "Same GitHub PAT credential as 'Fetch PR Files'."
    },
    {
      "id": "chat_model",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        220
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "llama3.2"
        },
        "options": {
          "baseURL": "http://host.docker.internal:11434/v1",
          "maxTokens": 16000
        }
      },
      "notes": "LLM: ollama (llama3.2); no API key (ollama is local/keyless)."
    },
    {
      "id": "fetch_file_tool",
      "name": "Fetch Repo File",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1220,
        220
      ],
      "parameters": {
        "toolDescription": "Fetch the full current contents of a file from the pull request's repository at the head commit. Input: a repository-relative file path (for example src/app/main.py). Returns the file's text, or an error if the path does not exist. Use it to read context the diff does not show: the rest of a file when only a hunk is included, a caller or callee, a base class, a configuration file, or a referenced module.",
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('GitHub PR Webhook').item.json.body.repository.full_name }}/contents/{path}?ref={{ $('GitHub PR Webhook').item.json.body.pull_request.head.sha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.raw+json"
            },
            {
              "name": "User-Agent",
              "value": "shiva-pr-review-agent"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "path",
              "description": "repository-relative file path to fetch, e.g. src/app/main.py",
              "type": "string"
            }
          ]
        }
      },
      "notes": "Same GitHub PAT credential as 'Fetch PR Files' (task 00002)."
    }
  ],
  "connections": {
    "GitHub PR Webhook": {
      "main": [
        [
          {
            "node": "Check Skip Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip Conditions": {
      "main": [
        [
          {
            "node": "Skip Draft & Labeled PRs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Draft & Labeled PRs?": {
      "main": [
        [
          {
            "node": "Fetch PR Files",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch PR Files": {
      "main": [
        [
          {
            "node": "Filter Diff & Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Diff & Build Prompt": {
      "main": [
        [
          {
            "node": "AI Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Review Agent": {
      "main": [
        [
          {
            "node": "Post PR Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Review Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Repo File": {
      "ai_tool": [
        [
          {
            "node": "AI Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
